[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
simplejson = "*"
gspread = "*"
"oauth2client" = "*"
hug = "*"
uwsgi = "*"
redis = "*"
pymongo = "*"
dash = "*"
dash-daq = "*"
numpy = "*"

[dev-packages]
ipython = "*"
pdbpp = "*"
